/* Code from Css Nav Bars 
http://www.w3schools.com/css/css_navbar.asp*/
body {
    margin: 0;
}
.header {
   /* margin:20px; */
    padding:10px;
    width: 1000px;
    text-align: center;
    border: 2px solid #000099;
    border-radius: 5px;
}

/* Code from CSS Sticky Navbar*/
nav ul {
    list-style-type: none;
    /*margin: 0px;
    position: fixed;*/
    width: 15%;  
    margin-left: -10em;
    padding: 0;
    height: 100%;
    overflow: auto;
    /* original gray navbar background-color: #f1f1f1;*/
}

nav :hover {
    margin-left: 0px;
}

/* new li color*/
nav ul li {
    margin: 1px;
    border: 2px solid #000099;
    border-radius: 5px;
    /*background-color: #e0ffff;*/
}

nav li a {
    display: block;
    /*color: #000099;;*/
    padding: 8px 0 8px 16px;
    text-decoration: none;
}
/*
nav li a.active {
    background-color: #4CAF50;
    color: white;
}

nav li a:hover:not(.active) {
    background-color: #555;
    color: white;
}
*/

/*End of code from CSS Nav Bars*/

img {
    height: 150px;
    padding: 5px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: white;
}
div {
    margin-left:20%;
    padding:1px 16px;
    height:1000px;
}
h2, h3 {
    text-align:center;
   /* margin:40px;*/
}
h2 { 
    padding:10px;
    width: 200px;
    border: 2px solid #000099;
    border-radius: 5px;
}
h3 {
    text-align:left;
    margin: 40;
}

table td {
    padding-right: 10px;
}
/* 1st nav bar
nav {
    margin:20px;
    padding:3px;
    width: 600px;
}

nav li a {
    line-height: 1.5rem;    
}

div.recipes {
    margin: 40px;
}
*/
