body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.header {
    background-color: #e0ffff;
    color: #000099;
}
nav ul li {
    background-color: #e0ffff;

}
nav li {
    color: #000099;
    font-weight: bold;
    font-size: 1.2rem;
}

/*
nav li a.active {
    background-color: #4CAF50;
    color: white;
}
*/

nav li a:hover:not(.active) {
    background-color: #555;
    color: white;
    margin-left: 0px;
}

h2 {
    background-color: #e0ffff;
    text-align: center;
    color: #000099;
}
h3 {
    text-align: left;
}
a {
    color: #000099;
    text-decoration: none;
}
div a {
    font-size: 1.2rem;
}
